@font-face {
  font-family: "epilogue";
  src: url("assets/fonts/epilogue.ttf") format("truetype");
  font-weight: 1 999;
  font-stretch: 50% 200%;
  font-style: normal;
}

@font-face {
  font-family: "mono";
  src:
    url("assets/fonts/mono.woff2") format("woff2"),
    url("assets/fonts/mono.woff") format("woff"),
    url("assets/fonts/mono.ttf") format("truetype");
}
